// HEADER :: START

section#section-contacts
  footer.footer
    .container
      img.footer__image(src="img/footer.svg", alt="" data-aos='fade-up' data-aos-delay='300')
      .footer__wrapper(data-aos='fade-up')
        a(href="#")
          img(src="img/mailru.svg", alt="")
        p © 1999—2018 Mai.Ru Group
        a(href="#" data-effect="mfp-zoom-in" js-popup) Обратная связь

// HEADER :: END