// HEADER :: START

section#section-contacts
  footer.footer
    .container(data-aos='fade-up')
      img.footer__image(src="img/footer.svg", alt="")
      .footer__wrapper
        a(href="#")
          img(src="img/mailru.svg", alt="")
        p © 1999—2018 Mai.Ru Group
        a(href="#" data-effect="mfp-zoom-in" js-popup) Обратная связь

// HEADER :: END