// HEADER :: START
section#section-top
  header.header(data-aos='fade-down')
    .container
      .header__wrapper
        .header__menu
          a.header__menu-link(href="#section-")
            span О событии
          a.header__menu-link(href="#section-")
            span Расписание
          a.header__menu-link(href="#section-")
            span Спикеры
          a.header__menu-link(href="#section-")
            span Организаторы и партнёры
          a.header__menu-link(href="#section-contacts")
            span Место проведения
          .header__mobile-btn(data-teleport-target="mobile-select")
        a.header__language(href="#")
          span ENG
        .header__btn-container(js-teleport data-teleport-to="mobile-select" data-teleport-condition="<768")
          a.header__btn(href="#" data-effect="mfp-zoom-in" js-popup) Зарегистрироваться
        .hamburger.hamburger--spin(js-hamburger)
          .hamburger-box
            .hamburger-inner
// HEADER :: END
