// HEADER :: START
section#section-top
  header.header(data-aos='fade-down')
    .container
      .header__wrapper
        .header__menu
          a.header__menu-link(href="#section-about")
            span О событии
          a.header__menu-link(href="#section-program")
            span Расписание
          a.header__menu-link(href="#section-speakers")
            span Спикеры
          a.header__menu-link(href="#section-companies")
            span Организаторы и партнёры
          a.header__menu-link(href="#section-place")
            span Место проведения
          .header__mobile-btn
            a.header__btn.header__btn--mobile(href="#registration" data-effect="mfp-zoom-in" js-popup) Зарегистрироваться
        a.header__language(href="#")
          span ENG
        .header__btn-container
          a.header__btn.header__btn--desktop(href="#registration" data-effect="mfp-zoom-in" js-popup) Зарегистрироваться
          a.invis-link(href="#registration" data-effect="mfp-zoom-in" js-popup js-trigger-reg-modal)
        .hamburger.hamburger--spin(js-hamburger)
          .hamburger-box
            .hamburger-inner
// HEADER :: END
