// BEGIN POPUP :: registraion

.popup.mfp-with-anim.mfp-hide#registration
  h2.popup__title Регистрация
    span Все поля обязательны для заполнения
  form.js-form(action="#")
    .popup__grid
      .popup__left
        .popup__name
          .input-container
            label(for="f1") Имя
            input#f1(type="text" placeholder="Константин" name="first_name")
          .input-container
            label(for="f2") Фамилия
            input#f2(type="text" placeholder="Константинопольский" name="last_name")
        .input-container
          label(for="f3") E-mail
          input#f3(type="text" placeholder="hello@mail.ru" name="email")
        .input-container
          label(for="f4") Контактный телефон
          input#f4(type="text" placeholder="+7 --- --- -- --" name="phone")
        .input-container
          label(for="f5") Компания
          input#f5(type="text" placeholder="ООО Эксперт Коммуникейшн" name="company")
        .input-container
          label(for="f6") Должность
          input#f6(type="text" placeholder="Маркетолог" name="position")
        .input-container.input-container--checkbox
          input#f6-c(type='checkbox' name="checkbox1")
          label(for="f6-c").checkbox__text Я принимаю 
            a(href="#popupmedia" data-effect="mfp-zoom-in" js-popup) 
              span соглашение на обработку персональных данных
        .input-container.input-container--checkbox
          input#f6-c1(type='checkbox' name="checkbox2")
          label(for="f6-c1").checkbox__text Я даю 
            a(href="#popuppersonal" data-effect="mfp-zoom-in" js-popup) 
              span согласие на использование аудио и видео информации
      .popup__right
        .input-container
          label(for="f10") Размер компании
          select#f10(name="company_size")
            option(value="val0" disabled selected) Выберите из списка
            option(value="val1") Fintech, банкинг, страхование 
            option(value="val1") Foodtech, ресторанный бизнес
            option(value="val2") Транспорт, мобильность
            option(value="val3") Логистические услуги
            option(value="val4") EdTech, наука, образование 
            option(value="val5") Маркетплейсы 
            option(value="val6") Телемедицина, здоровье 
            option(value="val7") Стриминговые сервисы 
            option(value="val8") Маркетинг, реклама и PR 
            option(value="val9") СМИ и медиа, блоги
            option(value="val10") Телеком 
            option(value="val11") Инвестиции 
            option(value="val12") Gaming 
            option(value="val13") InfoSec
            option(value="val14") IT 
            option(value="val15") FMCG
            option(value="val16") Ритейл
            option(value="val17") Другое
          input.hidden(type="text")
        .input-container
          label(for="f11") Сфера деятельности вашей компании
          select#f11(name="company_duty")
            option(value="val0" disabled selected) Выберите из списка
            option(value="val2-1") Fintech, банкинг, страхование 
            option(value="val2-1") Foodtech, ресторанный бизнес
            option(value="val2-2") Транспорт, мобильность
            option(value="val2-3") Логистические услуги
            option(value="val2-4") EdTech, наука, образование 
            option(value="val2-5") Маркетплейсы 
            option(value="val2-6") Телемедицина, здоровье 
            option(value="val2-7") Стриминговые сервисы 
            option(value="val2-8") Маркетинг, реклама и PR 
            option(value="val2-9") СМИ и медиа, блоги
            option(value="val2-10") Телеком 
            option(value="val2-11") Инвестиции 
            option(value="val2-12") Gaming 
            option(value="val2-13") InfoSec
            option(value="val2-14") IT 
            option(value="val2-15") FMCG
            option(value="val2-16") Ритейл
            option(value="val2-17") Другое
        .input-container
          label(for="f12") Ваша сфера деятельности в компании
          select#f12(name="duty")
            option(value="val0" disabled selected) Выберите из списка
            option(value="val3-1") Fintech, банкинг, страхование 
            option(value="val3-1") Foodtech, ресторанный бизнес
            option(value="val3-2") Транспорт, мобильность
            option(value="val3-3") Логистические услуги
            option(value="val3-4") EdTech, наука, образование 
            option(value="val3-5") Маркетплейсы 
            option(value="val3-6") Телемедицина, здоровье 
            option(value="val3-7") Стриминговые сервисы 
            option(value="val3-8") Маркетинг, реклама и PR 
            option(value="val3-9") СМИ и медиа, блоги
            option(value="val3-10") Телеком 
            option(value="val3-11") Инвестиции 
            option(value="val3-12") Gaming 
            option(value="val3-13") InfoSec
            option(value="val3-14") IT 
            option(value="val3-15") FMCG
            option(value="val3-16") Ритейл
            option(value="val3-17") Другое
        .input-container
          label(for="f13") Почему интересна наша конференция?
          textarea#f13(name="why_interest" placeholder="Напишите свой ответ")
        .input-container
          label(for="f14") Какие темы особенно интересны?
          textarea#f14(name="what_themes" placeholder="Напишите свой ответ")
        .input-container
          label(for="f15") Как вы планируете применятьполученные знания?
          textarea#f15(name="how_use" placeholder="Напишите свой ответ")
    input.popup__btn(type="submit" value="Зарегистрироваться")
    a.popup__hidden-trigger(js-trigger-thanks-popup href="#thankpopup" data-effect="mfp-zoom-in" js-popup)

// END POPUP :: registraion

// BEGIN POPUP :: thankpopup

.popup.popup--ty.mfp-with-anim.mfp-hide#thankpopup
  h2.popup__title Заявка принята
  p.popup__info Мы рассмотрим вашу заяву и вышлем на указанный e-mail информацию по регистрации.

// END POPUP :: thankpopup

// BEGIN POPUP :: popupmedia

.popup.popup--pb.mfp-with-anim.mfp-hide#popupmedia
  h2.popup__title Соглашение на использование аудио и видео информации
  p.popup__info Настоящим я даю свое согласие ООО «Мэйл.Ру» и Группе Компаний на воспроизведение, использование, распространение, доведение до всеобщего сведения, передачу в эфир и по кабелю своего изображения, содержащегося на видеозаписях и фотографиях, которые будут сделаны в ходе проведения мероприятий, проводимых ООО «Мэйл.Ру» и Группой Компаний, на обработку указанных видеозаписей и фотографий.

// END POPUP :: popupmedia

// BEGIN POPUP :: popuppersonal

.popup.popup--pb.mfp-with-anim.mfp-hide#popuppersonal
  h2.popup__title Соглашение на обработку персональных данных
  p.popup__info Настоящим я, действуя свободно, своей волей и в своем интересе, даю свое согласие ООО «Мэйл.Ру» (125167, г. Москва, Ленинградский проспект д.39 стр.79) (далее – «Мэйл.Ру») и Группе Компаний на обработку предоставленных мною в форме регистрации персональных данных. При этом, под Группой Компаний понимается совокупность юридических лиц независимо от организационно-правовой формы, контролирующих Мэйл.Ру, контролируемых Мэйл.Ру или находящихся совместно с Мэйл.Ру под общим прямым или косвенным контролем.
  p.popup__info Настоящее согласие дается мною для целей приглашения меня к участию и моего участия в мероприятиях, проводимых Мэйл.Ру и/или юридическими лицами, входящими в Группу компаний, а также для направления мне почтовых сообщений и смс-уведомлений от ООО «Мэйл.Ру» и юридических лиц Группы Компаний, содержащих приглашения на мероприятия, а также рекламно-информационные материалы о сервисах и продуктах Мэйл.Ру и Группы Компаний.
  p.popup__info Согласие предоставляется мною для осуществления любых действий в отношении моих персональных данных, включая без ограничений следующие действия: сбор, систематизацию, накопление, хранение, запись на электронные носители и их хранение, составление перечней, маркировка, уточнение (обновление, изменение), использование, распространение (в том числе передачу), обезличивание, блокирование, уничтожение, передачу персональных данных между Мэйл.Ру и юридическими лицами, входящими в Группу Компаний.
  p.popup__info Обработка персональных данных осуществляется Мэйл.Ру в объеме, который необходим для достижения каждой из вышеуказанных целей, в течение срока, составляющего 20 лет.
  p.popup__info Согласие на обработку персональных данных может быть отозвано путем направления письменного уведомления в свободной форме Мэйл.Ру не менее чем за 1 месяц до момента отзыва согласия.

// END POPUP :: popuppersonal

// BEGIN POPUP :: feedback

.popup.popup--feedback.mfp-with-anim.mfp-hide#feedback
  h2.popup__title Оставьте свои данные
    br
    | и мы Вам перезвоним
  form.js-form-feedback(action="#")
    .input-container
      label(for="c1") Имя*
      input#c1(type="text" placeholder="Константин" name="name")
    .input-container
      label(for="c2") Фамилия*
      input#c2(type="text" placeholder="Константинопольский" name="secondname")
    .input-container
      label(for="c3") E-mail*
      input#c3(type="text" placeholder="hello@mail.ru" name="mail")
    .input-container
      label(for="c4") Контактный телефон*
      input#c4(type="text" placeholder="+7 --- --- -- --" name="phone")
    input.popup__btn(type="submit" value="Зарегистрироваться")
    a.popup__hidden-trigger(js-trigger-thanks-popup href="#thankpopup" data-effect="mfp-zoom-in" js-popup)

// END POPUP :: feedback