// BEGIN POPUP :: registraion

.popup.mfp-with-anim.mfp-hide#registration
  h2.popup__title Регистрация
    span Все поля обязательны для заполнения
  form.js-form(action="#")
    .popup__grid
      .popup__left
        .popup__name
          .input-container
            label(for="f1") Имя
            input#f1(type="text" placeholder="Константин" name="first_name")
          .input-container
            label(for="f2") Фамилия
            input#f2(type="text" placeholder="Константинопольский" name="last_name")
        .input-container
          label(for="f3") E-mail
          input#f3(type="text" placeholder="hello@mail.ru" name="email")
        .input-container
          label(for="f4") Контактный телефон
          input#f4(type="text" placeholder="+7 --- --- -- --" name="phone")
        .input-container
          label(for="f5") Компания
          input#f5(type="text" placeholder="ООО Эксперт Коммуникейшн" name="company")
        .input-container
          label(for="f6") Должность
          input#f6(type="text" placeholder="Маркетолог" name="position")
        .input-teleport(js-teleport data-teleport-to="mobile-select" data-teleport-condition="<768")
          .input-container.input-container--checkbox
            input#f6-c(type='checkbox' name="checkbox1")
            label(for="f6-c").checkbox__text Я принимаю 
              a(href="#popupmedia" data-effect="mfp-zoom-in" js-popup) 
                span соглашение на обработку персональных данных
          .input-container.input-container--checkbox
            input#f6-c1(type='checkbox' name="checkbox2")
            label(for="f6-c1").checkbox__text Я даю 
              a(href="#popuppersonal" data-effect="mfp-zoom-in" js-popup) 
                span согласие на использование аудио и видео информации
      .popup__right
        .input-container
          label(for="f10") Размер компании
          select#f10(name="company_size")
            option(value="val0" disabled selected) Выберите из списка
            option(value="1-100 чел.") 1 - 100 чел.,
            option(value="100-500 чел.") 100-500 чел.,
            option(value="500-1000 чел.") 500-1000 чел.,
            option(value="1000+ чел.") Более 1000 чел.
            //- option(value="Другое") Другое
          input.hidden(type="text")
        .input-container
          label(for="f11") Сфера деятельности вашей компании
          select#f11(name="company_duty")
            option(value="val0" disabled selected) Выберите из списка
            option(value="EdTech, наука, образование") EdTech, наука, образование
            option(value="Fintech, банкинг, страхование") Fintech, банкинг, страхование
            option(value="FMCG") FMCG
            option(value="Foodtech, ресторанный бизнес") Foodtech, ресторанный бизнес
            option(value="Gaming") Gaming
            option(value="InfoSec") InfoSec
            option(value="IT") IT
            option(value="Инвестиции") Инвестиции
            option(value="Логистические услуги") Логистические услуги
            option(value="Маркетинг, реклама и PR") Маркетинг, реклама и PR
            option(value="Маркетплейсы  ") Маркетплейсы  
            option(value="Ритейл  ") Ритейл  
            option(value="СМИ и медиа, блоги  ") СМИ и медиа, блоги  
            option(value="Стриминговые сервисы ") Стриминговые сервисы 
            option(value="Телеком  ") Телеком  
            option(value="Телемедицина, здоровье ") Телемедицина, здоровье 
            option(value="Транспорт, мобильность ") Транспорт, мобильность 
            option(value="Другое") Другое (поле со свободным вводом текста)
          input.hidden(type="text")
        .input-container
          label(for="f12") Ваша сфера деятельности в компании
          select#f12(name="duty")
            option(value="val0" disabled selected) Выберите из списка
            option(value="Data Science") Data Science
            option(value="Аналитика") Аналитика
            option(value="Маркетинг и реклама") Маркетинг и реклама
            option(value="Монетизация") Монетизация
            option(value="Развитие бизнеса") Развитие бизнеса
            option(value="Развитие продукта") Развитие продукта
            option(value="Технический специалист") Технический специалист
            option(value="Управление компанией") Управление компанией
            option(value="Управление персоналом, рекрутмент") Управление персоналом, рекрутмент
            option(value="Финансы") Финансы
            option(value="Другое") Другое (поле со свободным вводом текста)
          input.hidden(type="text")
        .input-container
          label(for="f13") Почему интересна наша конференция?
          textarea#f13(name="why_interest" placeholder="Напишите свой ответ")
        .input-container
          label(for="f14") Какие темы особенно интересны?
          textarea#f14(name="what_themes" placeholder="Напишите свой ответ")
        .input-container
          label(for="f15") Как вы планируете применятьполученные знания?
          textarea#f15(name="how_use" placeholder="Напишите свой ответ")
        div(data-teleport-target="mobile-select")
    input.popup__btn(type="submit" value="Зарегистрироваться")
    a.popup__hidden-trigger(js-trigger-thanks-popup href="#thankpopup" data-effect="mfp-zoom-in" js-popup)

// END POPUP :: registraion

// BEGIN POPUP :: thankpopup

.popup.popup--ty.mfp-with-anim.mfp-hide#thankpopup
  h2.popup__title Заявка принята
  p.popup__info Мы рассмотрим вашу заяву и вышлем на указанный e-mail информацию по регистрации.

// END POPUP :: thankpopup

// BEGIN POPUP :: popupmedia

.popup.popup--pb.mfp-with-anim.mfp-hide#popupmedia
  h2.popup__title Соглашение на использование аудио и видео информации
  p.popup__info Настоящим я даю свое согласие ООО «Мэйл.Ру» и Группе Компаний на воспроизведение, использование, распространение, доведение до всеобщего сведения, передачу в эфир и по кабелю своего изображения, содержащегося на видеозаписях и фотографиях, которые будут сделаны в ходе проведения мероприятий, проводимых ООО «Мэйл.Ру» и Группой Компаний, на обработку указанных видеозаписей и фотографий.

// END POPUP :: popupmedia

// BEGIN POPUP :: popuppersonal

.popup.popup--pb.mfp-with-anim.mfp-hide#popuppersonal
  h2.popup__title Соглашение на обработку персональных данных
  p.popup__info Настоящим я, действуя свободно, своей волей и в своем интересе, даю свое согласие ООО «Мэйл.Ру» (125167, г. Москва, Ленинградский проспект д.39 стр.79) (далее – «Мэйл.Ру») и Группе Компаний на обработку предоставленных мною в форме регистрации персональных данных. При этом, под Группой Компаний понимается совокупность юридических лиц независимо от организационно-правовой формы, контролирующих Мэйл.Ру, контролируемых Мэйл.Ру или находящихся совместно с Мэйл.Ру под общим прямым или косвенным контролем.
  p.popup__info Настоящее согласие дается мною для целей приглашения меня к участию и моего участия в мероприятиях, проводимых Мэйл.Ру и/или юридическими лицами, входящими в Группу компаний, а также для направления мне почтовых сообщений и смс-уведомлений от ООО «Мэйл.Ру» и юридических лиц Группы Компаний, содержащих приглашения на мероприятия, а также рекламно-информационные материалы о сервисах и продуктах Мэйл.Ру и Группы Компаний.
  p.popup__info Согласие предоставляется мною для осуществления любых действий в отношении моих персональных данных, включая без ограничений следующие действия: сбор, систематизацию, накопление, хранение, запись на электронные носители и их хранение, составление перечней, маркировка, уточнение (обновление, изменение), использование, распространение (в том числе передачу), обезличивание, блокирование, уничтожение, передачу персональных данных между Мэйл.Ру и юридическими лицами, входящими в Группу Компаний.
  p.popup__info Обработка персональных данных осуществляется Мэйл.Ру в объеме, который необходим для достижения каждой из вышеуказанных целей, в течение срока, составляющего 20 лет.
  p.popup__info Согласие на обработку персональных данных может быть отозвано путем направления письменного уведомления в свободной форме Мэйл.Ру не менее чем за 1 месяц до момента отзыва согласия.

// END POPUP :: popuppersonal

// BEGIN POPUP :: feedback

.popup.popup--feedback.mfp-with-anim.mfp-hide#feedback
  h2.popup__title Оставьте свои данные
    br
    | и мы Вам перезвоним
  form.js-form-feedback(action="#")
    .input-container
      label(for="c1") Имя*
      input#c1(type="text" placeholder="Константин" name="name")
    .input-container
      label(for="c2") Фамилия*
      input#c2(type="text" placeholder="Константинопольский" name="secondname")
    .input-container
      label(for="c3") E-mail*
      input#c3(type="text" placeholder="hello@mail.ru" name="mail")
    .input-container
      label(for="c4") Контактный телефон*
      input#c4(type="text" placeholder="+7 --- --- -- --" name="phone")
    input.popup__btn(type="submit" value="Зарегистрироваться")
    a.popup__hidden-trigger(js-trigger-thanks-popup href="#thankpopup" data-effect="mfp-zoom-in" js-popup)

// END POPUP :: feedback