---
title: FUTURECOMMERCE
---
extends shared/_layout
block content

  // BEGIN SECTION :: firstscreen
  section
    .firstscreen
      .firstscreen__info
        p.prata Ирина Йозефсон-Шнайдер
        p.aabebas О событии Расписание
        p.bold Инвестиции в e-commerce
        p.regular Открытый разговор с основателями и первыми лицами технологических e-commerce компаний. Реальные истории успеха и роста, проб и ошибок, практические кейсы сервисов в развивающейся индустрии.
        p.bebas 31 23 62
  
  // END SECTION :: firstscreen