// MADE WITH LOVE BY <> KHMELEVSKOY & ASSOCIATES </> www.khmelevskoy.co
meta(charset="utf-8")
title= title || 'FUTURECOMMERCE'
meta(http-equiv="X-UA-Compatible" content="IE=Edge")
meta(name='description', content='')
meta(name="viewport" content="width=device-width, initial-scale=1")
meta(name="theme-color" content="#fff")
meta(name="format-detection" content="telephone=no")
// remove for production
meta(name="robots" content="noindex")

//- link(rel='icon', type='image/png', href='img/favicon-32x32.png', sizes='32x32')
//- link(rel='icon', type='image/png', href='img/favicon.png')

meta(property='og:title', content='FuturEcommerce by Mail.Ru Group')
meta(property='og:description', content='16 ноября 2018 года конференция FuturEcommerce от Mail.Ru Group станет площадкой для обмена опытом среди практиков e-commerce.')
meta(property='og:image', content='http://futurecommerce.surge.sh/img/og/18074_EG_banner_fb_2-2.jpg')
meta(property='og:url', content='http://futurecommerce.surge.sh/homepage.html')
meta(name='twitter:title', content='FuturEcommerce by Mail.Ru Group')
meta(name='twitter:description', content='16 ноября 2018 года конференция FuturEcommerce от Mail.Ru Group станет площадкой для обмена опытом среди практиков e-commerce.')
meta(name='twitter:image:src', content='http://futurecommerce.surge.sh/img/og/18074_EG_banner_fb_2-2.jpg')
meta(name='twitter:url', content='http://futurecommerce.surge.sh/homepage.html')
          
link(rel="stylesheet" media="all" href="css/app.css")
  
<!--[if lt IE 9]>
script(src='https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js')
script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
<![endif]-->
