.firstscreen
  min-height: 100vh
  display: flex
  align-items: center
  padding-top: 120px
  // background: url(../img/back.svg) left top no-repeat
  // background-size: cover
  img
    max-width: 600px
    width: 80%