.speakers
  margin-bottom: -23px
  &__carousel
    overflow: hidden
    padding: 0 58px
    margin: -40px -10px 0
    width: calc(100% + 20px)
  .swiper-container
    overflow: visible
    .swiper-button
      position: absolute
      top: 50%
      transform: translateY(-50%)
      cursor: pointer
      z-index: 4
      path
        transition: all $transitionSpeed $ease
      &:hover
        path
          fill: $redColor
      &.prev
        left: -50px
        transform: translateY(-50%) rotate(180deg)
      &.next
        right: -50px
  .swiper-wrapper
    display: flex
    align-items: center
    overflow: visible
  .swiper-slide
    text-align: center
    img
      height: auto
      width: 100%
      max-width: 100%
  &__grid
    margin-top: 115px
    padding: 0 25px
  &__row
    display: flex
    align-items: flex-start
    justify-content: space-between
    width: 100%
    flex-wrap: wrap
  &__item
    width: 23.5%
    max-width: 290px
    margin: 30px 0 42px
    position: relative
    &:hover
      z-index: 2
  &__info
    cursor: pointer
    position: relative

    &:hover
      // TMP
      // .speakers__title
      //   span.info
      //     background: $redColor
      // .speakers__hidden
      //   opacity: 1
      //   pointer-events: all
  &__image
    max-width: 235px
    margin: 0 auto 0 0
    position: relative
    &:before
      display: block
      position: absolute
      width: 110px
      height: 110px
      background: $redColor
      content: ''
      border-radius: 50%
      z-index: 0
    &.pos1
      &:before
        left: 0px
        top: -12px
    &.pos2
      &:before
        right: -20px
        top: -5px
    &.pos3
      &:before
        right: -10px
        bottom: 3px
    &.pos4
      &:before
        left: -22px
        bottom: 3px
    img
      position: relative
      z-index: 1
      min-height: 238px
  &__title
    margin: 17px 0 9px
    font-size: 44px
    color: #000000
    font-family: $prata
    line-height: 1.2
    position: relative
    max-width: 290px
    span
      position: relative
      &.info
        // TMP
        display: none !important
        font-family: $prata
        font-size: 18px
        justify-content: center
        align-items: center
        color: #fff
        display: flex
        width: 25px
        height: 25px
        border-radius: 50%
        background: #a6a7aa
        transition: all $transitionSpeed $ease
        position: absolute
        bottom: 35px
        right: -28px
  &__desc
    color: $lightColor
    line-height: 1.2
    font-family: $regular
    font-size: 24px
    min-height: 140px
  &__hidden
    // TMP
    display: none
    position: absolute
    z-index: 3
    top: 192px
    left: -50px
    background: #f0f0f0
    padding: 50px
    border-radius: 8px
    opacity: 0
    pointer-events: none
    width: 135%
    transition: all $transitionSpeed $ease
    p
      margin-top: 30px
      line-height: 1.4
      font-size: 24px
      font-family: $regular
      color: #363636

+r($wide)
  .speakers
    .swiper-slide
      img
        width: 100%
        height: auto
    .swiper-container
      overflow: visible
      .swiper-button
        transform: translateY(-50%) scale(0.3)
        &.prev
          left: -60px
          transform: translateY(-50%) rotate(180deg) scale(0.3)
        &.next
          right: -60px

    &__title
      font-size: 28px
      line-height: 1.5
      max-width: 180px
      span.info
        right: -13px
        // bottom: 25px
        bottom: 23px
        width: 20px
        height: 20px
        font-size: 15px
        transform: scale(.8)
    &__image
      max-width: 180px
      &:before
        width: 80px
        height: 80px
      img
        width: 100%
        min-height: 180px
    &__desc
      font-size: 18px
      min-height: 80px
    &__hidden
      padding: 25px
      left: -25px
      top: 159px
      width: 125%
      p
        font-size: 20px

+r($desktop)
  .speakers
    &__item
      width: 48%
      margin: 20px 0

+r($tablet)
  .speakers
    &__desc
      font-size: 16px
    &__hidden
      p
        margin-top: 15px
        font-size: 16px
    &__carousel
      margin-top: 5px
      padding: 0 38px

    .swiper-container
      position: relative
      padding: 0 25px
      .swiper-button
        &.prev
          left: -30px
        &.next
          right: -30px
      &:before
        position: absolute
        display: block
        content: ''
        height: 100%
        width: 60px
        background: #fdfcfc
        left: -50px
        top: 0
        z-index: 2
      &:after
        position: absolute
        display: block
        content: ''
        height: 100%
        width: 60px
        background: #fdfcfc
        right: -50px
        top: 0
        z-index: 2
    &__grid
      margin-top: 10px

+r($mobile)
  .speakers
    &__item
      width: 100%
      margin: 15px 0
      max-width: 450px

    &__hidden
      width: 120%
